.link {
  display: inline-flex;
  padding: 20px;
  font-size: 18px;
  border: 1px solid rgb(94, 62, 153);
  text-decoration: none;
  border-radius: 8px;
  background-color: transparent;
  color: inherit;
  font-family: Arial, Helvetica, sans-serif;
  transition: all 0.3s;
  margin-right: 10px;
}

.active {
  background-color: rgb(94, 62, 153);
  color: #fff;
}
